{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 140,
  "singleQuote": true,
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    }
  ]
}
